/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
	font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    margin: 30px;
    background: white;
	text-align: center;
}

main{
    font-size: 4.3vw;
}

#prev{
    opacity: 0%;
    font-size: 0px;
}



  .wrapper{
    display: flex;
  }

 nav img{
    width:25%;
    background-color:rgb(184, 155, 187); 
    border-radius: 8vw;
    
    
 } 

  header img{
    width: 50vw;
    height: 16vw;
  }

header h1{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
   
    
}

nav ul{
    text-align: center;
}

 ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #3D0F2C;
    position: sticky;
    border-radius: 6px;
    width: 100%;
    
  }
  
   li {
    float: left;
    text-align: center;
    
  }
  
  nav a {
    display: flex;
    color: white;
    margin: 0px;
    font-size: 5px;
    text-align: center;
    font-size: 12px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    
  }

nav a:hover{
    
    color: rgb(95, 93, 93);
}
#container {
	
}

a{

}


#next{
    opacity: 100%;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
     font-family: 'Raleway', sans-serif;
     background-color:#180812;
     color:  rgb(184, 155, 187);
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     margin: 10px;
     border: 0px;
 }
 
 #next2{
     opacity: 100%;
     font-size: 18px;
     font-family: 'Quicksand', sans-serif;
      font-family: 'Raleway', sans-serif;
      background-color:#180812;
      color:  rgb(184, 155, 187);
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 10px;
      border: 0px;
  }

  #next3{
     opacity: 100%;
     font-size: 18px;
     font-family: 'Quicksand', sans-serif;
      font-family: 'Raleway', sans-serif;
      background-color:#180812;
      color:  rgb(184, 155, 187);
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 10px;
      border: 0px;
  }


/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
	body {
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        margin: 30px;
        background: white;
        
    }
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 800px) {

   #two-column{
    display: flex;
    background-color: rgb(201, 193, 193);
   }
 body{
    background-color: rgb(201, 193, 193);
    margin: 5vw;
 }
   main{
    border: 0px solid black;
    margin: 20px;
    border-radius: 14px;
    flex: 2.75;
    padding: 30px;
    background-color: #3D0F2C;
    color: rgb(184, 155, 187);
    font-size: 1.9vw;
    line-height: 2.2vw;
   }



   nav{
    flex: .75;

   }

   #prev{
    opacity: 100%;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color:#3D0F2C;
    color:  rgb(184, 155, 187);
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    #next{
   opacity: 100%;
   font-size: 18px;
   font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color:#3D0F2C;
    color:  rgb(184, 155, 187);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border: 0px;
}
 

   header h1{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    border-bottom: 5px solid #3D0F2C;
    font-size: 3.6vw;
        line-height: 3.6vw;
       
        padding: 2.4vw;
        
    background-color: #3D0F2C;
    text-align: center;
    
    color: white;
    font-weight: 550;
    
   
    
}

   nav ul{
    list-style: none;
    padding-left: 0vw;
    position: relative;
    background-color: rgb(201, 193, 193);
    
}

nav{
    border-left: 7px solid #3D0F2C;
    background-color: rgb(201, 193, 193);
}
nav a{
    text-decoration: none;
    display: block;
    font-size: 2.3vw;
    line-height: 3vw;
    font-weight: 700;
    background-color: rgb(201, 193, 193);
    color: rgb(122, 63, 124);
    text-align:left;
    padding-top: 1.3vw;
    padding-bottom: 2.2vw;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.iconMobile{
    opacity: 0%;
    width: 0%
}

.icon{
    background-color: #3D0F2C;
    border-radius: 11vw;

}
nav img{
    width: 85%;
    margin: auto;
    
    padding: 0vw;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 7px;
    bottom: 0;
    left: 0;
    background-color: #3D0F2C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    font-weight: 700;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }

ul{
    background-color: rgb(201, 193, 193);
}
nav a:hover{
    color:#3D0F2C
}

#next{
    opacity: 100%;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
     font-family: 'Raleway', sans-serif;
     background-color:#180812;
     color:  rgb(184, 155, 187);
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     margin: 10px;
     border: 0px;
 }
 
 #next2{
     opacity: 100%;
     font-size: 18px;
     font-family: 'Quicksand', sans-serif;
      font-family: 'Raleway', sans-serif;
      background-color:#180812;
      color:  rgb(184, 155, 187);
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 10px;
      border: 0px;
  }

  #next3{
     opacity: 100%;
     font-size: 18px;
     font-family: 'Quicksand', sans-serif;
      font-family: 'Raleway', sans-serif;
      background-color:#180812;
      color:  rgb(184, 155, 187);
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 10px;
      border: 0px;
  }

  header img {
    
    width:70%;
    height: 16vw;
    
    
    
  }


} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media (min-width: 1600px) {
	
	#container{
        width: 1600px;
        margin: auto;
        

        
    }

    .icon{
        background-color: #3D0F2C;
        border-radius: 11vw;

    }

    header h1{
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        border-bottom: 5px solid #3D0F2C;
        font-size: 70px;
        line-height: 70px;
        background-color: #3D0F2C;
        padding: 50px;
        
        text-align: center;
        
        color: white;
        font-weight: 550;
        
       
        
    }
    
	
    header img {
    
        width:55vw;
        height: 16vw;
        
        
        
      }

    
	main{
        text-align: center;
       background-color: #3D0F2C;
       color: rgb(184, 155, 187);
        
        line-height: 1.9vw;
        padding: 60px;
        border-radius: 0;
        
        
    }
    body {
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        
        font-size: 1.7vw;
        line-height: 2.2vw;
        background-color: rgb(201, 193, 193);
        
       
        
    }

    nav ul{
        list-style: none;
        padding-left: 0vw;
        position: relative;
        background-color: rgb(201, 193, 193);
        
    }

    nav{
        border-left: 7px solid #3D0F2C;
        background-color: rgb(201, 193, 193);
    }
    nav a{
        text-decoration: none;
        display: block;
        font-size: 2.3vw;
        line-height: 3vw;
        font-weight: 700;
        background-color: rgb(201, 193, 193);
        color: rgb(122, 63, 124);
        text-align:left;
        padding-top: 1.3vw;
        padding-bottom: 2.2vw;
        margin-bottom: 30px;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
    }
    
    nav img{
        width: 85%;
        margin: auto;
       
        padding: 0vw;
    }
    
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        
      }
      
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 7px;
        bottom: 0;
        left: 0;
        background-color: #3D0F2C;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        font-weight: 700;
      }
      
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
        
      }
    
    ul{
        background-color: rgb(201, 193, 193);
    }
    nav a:hover{
        color:#3D0F2C
    }

    
    
    #next{
       opacity: 100%;
       font-size: 18px;
       font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        background-color:#180812;
        color:  rgb(184, 155, 187);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
        border: 0px;
    }
    
    #next2{
        opacity: 100%;
        font-size: 18px;
        font-family: 'Quicksand', sans-serif;
         font-family: 'Raleway', sans-serif;
         background-color:#180812;
         color:  rgb(184, 155, 187);
         padding-left: 20px;
         padding-right: 20px;
         padding-top: 5px;
         padding-bottom: 5px;
         margin: 10px;
         border: 0px;
     }

     #next3{
        opacity: 100%;
        font-size: 18px;
        font-family: 'Quicksand', sans-serif;
         font-family: 'Raleway', sans-serif;
         background-color:#180812;
         color:  rgb(184, 155, 187);
         padding-left: 20px;
         padding-right: 20px;
         padding-top: 5px;
         padding-bottom: 5px;
         margin: 10px;
         border: 0px;
     }
} /* closes 1024px+ */
