/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
	font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    margin: 30px;
    background-color: rgb(248, 239, 223);
	text-align: center;
}



  .wrapper{
    display: flex;
  }

 nav img{
    width:0%;
 } 

  header img{
    width: 140px;
    height:140px;
  }

header h1{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

nav ul{
    text-align: center;
}

 ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #3D0F2C;
    position: sticky;
    border-radius: 6px;
    width: 100%;
    
  }
  
   li {
    float: left;
    text-align: center;
    
  }
  
  nav a {
    display: flex;
    color:white;
    margin: 0px;
    font-size: 5px;
    text-align: center;
    font-size: 12px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    
  }

nav a:hover{
    
    color: rgb(95, 93, 93);
}
#container {
	
}

a{

}


main{
    font-size: 4.3vw;
}


/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
	body {
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-size: 3vw;
        margin: 30px;
        background-color: rgb(248, 239, 223);
        
    }
	
    header h1{
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        border-bottom: .4vw solid #3D0F2C;
        font-size: 2.6vw;
        line-height: 3.6vw;
       
        padding: 2.4vw;
        padding-bottom: 0px;
        text-align: center;
        
        color: #3D0F2C;
        font-weight: 550;
        background-color: rgb(248, 239, 223);
        
       
        
    }

    header img {
    
        width: 25%;
        height: 25%;
        
      }

    header h2{
        font-size: 3vw;
        text-align: left;
        background-color: rgb(248, 239, 223);
    }
	main{
        text-align: center;
        margin-top: -7vw;
        margin-left: 4vw;
        font-weight: 570;
        padding: 20px;
        font-size: 4vw;
        line-height: 5vw;
        background-color: rgb(248, 239, 223);
        
        
    }
    body {
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        
        font-size: 1.5vw;
        line-height: 2vw;
        background-color: rgb(248, 239, 223);
        
       
        
    }

    nav ul{
        text-align: center;
    }
    
     ul {
        list-style-type: none;
        margin-top: 10px;
        padding: 0px;
        overflow: hidden;
        background-color: #3D0F2C;
        position: sticky;
        border-radius: 6px;
        width: 100%;
        
      }
      
       li {
        float: left;
        text-align: center;
        
      }
      
      nav a {
        display: flex;
        color:white;
        margin: 0px;
        font-size: 5px;
        text-align: center;
        font-size: 12px;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        
      }
    
    nav a:hover{
        
        color: rgb(95, 93, 93);
    }
    #container {
        
    }
    
    a{
    
    }
    
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 800px) {
    

    body {
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        
        margin: 5vw;
        background-color: rgb(248, 239, 223);
        text-align: center;
       
    }
    
    
    
      
    
     nav img{
        width:0%;
     } 
    
      
    
      header h1{
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        border-bottom: .4vw solid #3D0F2C;
        font-size: 3vw;
        line-height: 3.6vw;
       
        padding: 2.4vw;
        padding-bottom: 0px;
        text-align: center;
        
        color: #3D0F2C;
        font-weight: 550;
        background-color: rgb(248, 239, 223);
        
       
        
    }

    header img {
    
        width: 22vw;
        height: 22vw;
        
      }

    header h2{
        font-size: 3vw;
        text-align: left;
        background-color: rgb(248, 239, 223);
    }
	main{
        text-align: center;
        margin-top: -7vw;
        margin-left: 4vw;
        font-weight: 570;
        
        font-size: 2vw;
        line-height: 3vw;
        background-color: rgb(248, 239, 223);
        flex: 2.75;
        padding: 2vw;
        
        
    }
    body {
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        
        
        line-height: 2vw;
        background-color: rgb(248, 239, 223);
        
       
        
    }

    

   #two-column{
    display: flex;
    background-color: rgb(248, 239, 223);
   }

   nav{
    flex: .75;

   }



   nav ul{
    list-style: none;
    padding-left: 0vw;
    position: relative;
    background-color: rgb(248, 239, 223);
    
}

nav{
    border-left: 7px solid #3D0F2C;
    background-color: rgb(248, 239, 223);
}
nav a{
    text-decoration: none;
    display: block;
    font-size: 2.3vw;
    line-height: 3vw;
    font-weight: 700;
    background-color: rgb(248, 239, 223);
    color: rgb(122, 63, 124);
    text-align:left;
    padding-top: 1.3vw;
    padding-bottom: 2.2vw;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
}

nav img{
    width: 80%;
    margin: auto;
    background-color: rgb(248, 239, 223);
    padding: 0vw;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 7px;
    bottom: 0;
    left: 0;
    background-color: #3D0F2C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    font-weight: 700;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }

ul{
    background-color: rgb(248, 239, 223);
}
nav a:hover{
    color:#3D0F2C
}


} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media (min-width: 1600px) {
	
	#container{
        width: 1600px;
        margin: auto;
        background-color: rgb(248, 239, 223);

        
    }

    .wrapper{
        display: flex;
      }
    

    #two-column{
        display: flex;
        background-color: rgb(248, 239, 223);
       }
    

    header h1{
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        border-bottom: .4vw solid #3D0F2C;
        font-size: 2.6vw;
        line-height: 3.6vw;
       
        padding: 2.4vw;
        padding-bottom: 0px;
        text-align: center;
        
        color: #3D0F2C;
        font-weight: 550;
        background-color: rgb(248, 239, 223);
        
       
        
    }
    
	
    header img {
    
        width: 22vw;
        height: 22vw;
        
      }

    header h2{
        font-size: 3vw;
        text-align: left;
        background-color: rgb(248, 239, 223);
    }
	main{
        text-align: center;
        margin-top: -7vw;
        margin-left: 4vw;
        font-weight: 570;
        padding: 20px;
        font-size: 2vw;
        line-height: 3vw;
        background-color: rgb(248, 239, 223);
        
        
    }
    body {
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
        
        font-size: 1.5vw;
        line-height: 2vw;
        background-color: rgb(248, 239, 223);
        
       
        
    }

    nav ul{
        list-style: none;
        padding-left: 0vw;
        position: relative;
        background-color: rgb(248, 239, 223);
        
    }

    nav{
        border-left: 7px solid #3D0F2C;
        background-color: rgb(248, 239, 223);
    }
    nav a{
        text-decoration: none;
        display: block;
        font-size: 2.3vw;
        line-height: 3vw;
        font-weight: 700;
        background-color: rgb(248, 239, 223);
        color: rgb(122, 63, 124);
        text-align:left;
        padding-top: 1.3vw;
        padding-bottom: 2.2vw;
        margin-bottom: 30px;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif;
    }
    
    nav img{
        width: 80%;
        margin: auto;
        background-color: rgb(248, 239, 223);
        padding: 0vw;
        padding-top: 0vw;
    }
    
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        
      }
      
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 7px;
        bottom: 0;
        left: 0;
        background-color: #3D0F2C;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        font-weight: 700;
      }
      
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
        
      }
    
    ul{
        background-color: rgb(248, 239, 223);
    }
    nav a:hover{
        color:#3D0F2C
    }
    
} /* closes 1024px+ */




